body {
}
.red td, th {

    background: red;}
.orange td, th {

    background: orange;}
.yellow td, th {

    background: yellow;}
.white {
    color: white;
}
.gray {
    color: gray;
}
.black {
    color: black;
}
